

@model SummerCamp.Model.Track


@{

    ViewBag.Title = "2015 Sessions";
}

<h2>@ViewBag.Message</h2>


<div>

    <h2>@Model.Name</h2>

    <ul data-role="listview" data-filter="true" data-filterplaceholder="Search...">
        <li data-role="list-divider">
            Mon <p class="ui-li-aside">Feb 16 2015</p>
        </li>
        <li>
            <a href="tack.html">
                <p>6 PM <span class="ui-li-aside">Track Information here</span></p>
            </a>
        </li>
    </ul>
   

</div>


