
@{
    ViewBag.Title = "RegisterClass";
}

<form action="RegisterClass" method="post" data-transition="flip">
    <div data-role="fieldcontain">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="" required />
    </div>
    <div data-role="fieldcontain">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="" required />
    </div>
    <div data-role="fieldcontain">
        <label for="comments">Comments:</label>
        <textarea cols="40" rows="8" name="comments" id="comments"></textarea>
    </div>

    <input type="submit" value="Send" data-theme="b">
</form>

