@model SummerCamp.Model.Session

@{
    ViewBag.Title = "Session Details";
}


        <div>

                <h2>@Model.Title</h2>
                <p>@Model.Description</p>
                <b>@Model.Level</b>
            <p>@Model.Room</p>


            <a href="/SessionsMVC/RegisterClass"  data-role="button" data-theme="b" data-inline="true">Register</a>

        </div>
      







